<div class="container">
  <div class="card">
    <div class="card-header">
      <h1>XYZ Inc.</h1>
    </div>
    <div class="card-body">
      <p>
        <span class="label">Poste : </span
        ><span class="value">Développeur Full Stack</span>
      </p>
      <p>
        <span class="label">Date de candidature : </span
        ><span class="value">10 mai 2023</span>
      </p>
      <p>
        <span class="label">État de candidature : </span
        ><span class="value">En attente</span>
      </p>
      <p>
        <span class="label">Lien vers l'offre : </span
        ><span class="value"
          ><a href="#">https://www.xyzinc.com/offres/123456</a></span
        >
      </p>
      <p>
        <span class="label">Lieu : </span
        ><span class="value">Montréal, Québec</span>
      </p>
      <p>
        <span class="label">Durée : </span
        ><span class="value">Temps plein</span>
      </p>
      <p>
        <span class="label">Date de début : </span
        ><span class="value">1er juillet 2023</span>
      </p>
      <p>
        <span class="label">Commentaire : </span
        ><span class="value"
          >Lorem ipsum dolor sit amet, consectetur adipiscing elit.</span
        >
      </p>
    </div>
    <div class="card-footer">
      <a (click)="goToEditCandidature()" class="btn btn-primary">Modifier</a>
      <a (click)="goToListeCandidatures()" class="btn btn-danger">Retour</a>
    </div>
  </div>
</div>
