<div class="container" *ngIf="candidature">
  <div class="card">
    <div class="card-header">
      <h1>{{ candidature.entreprise }}</h1>
    </div>
    <div class="card-body">
      <p>
        <span class="label">Poste : </span
        ><span class="value">{{ candidature.poste }}</span>
      </p>
      <p>
        <span class="label">Date de candidature : </span
        ><span class="value">{{ candidature.date_postulation }}</span>
      </p>
      <p>
        <span class="label">État de candidature : </span
        ><span class="value">{{ candidature.etat_candidature }}</span>
      </p>
      <p>
        <span class="label">Lien vers l'offre : </span
        ><span class="value"
          ><a [href]="candidature.lien_offre" target="_blank">{{
            candidature.lien_offre
          }}</a></span
        >
      </p>
      <p>
        <span class="label">Lieu : </span
        ><span class="value">{{ candidature.lieu }}</span>
      </p>
      <p>
        <span class="label">Durée : </span
        ><span class="value">{{ candidature.duree }} mois</span>
      </p>
      <p>
        <span class="label">Date de début : </span
        ><span class="value">{{ candidature.date_debut }}</span>
      </p>
      <p>
        <span class="label">Commentaire : </span
        ><span class="value">{{ candidature.commentaire }}</span>
      </p>
    </div>
    <div class="card-footer">
      <a (click)="goToEditCandidature(candidature.id)" class="btn btn-primary"
        >Modifier</a
      >
      <a (click)="goToListeCandidatures()" class="btn btn-danger">Retour</a>
    </div>
  </div>
</div>
